<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiry Page</title>
</head>
<style>
    *{
        margin: 0;
        padding: o;
        box-sizing: border-box;
    }
    header{
        width: 100vw;
        padding: 15px;
        background:  #141a34;
    }
    header ul{
        display: inline-flex;
    }
    header ul li{
        margin: 0 25px;
        color: white;
        text-decoration: none;
        list-style: none;
        cursor: pointer;
    }
    header ul li a{
        margin: 0 25px;
        color: white;
        text-decoration: none;
        list-style: none;
        cursor: pointer;
    }
    header ul li:hover{
        color: blue;
        transition: 0.5s;
        border-bottom: 1px solid blue;
    }

</style>
<body>
    <header class="header" >
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </header>
</body>
</html>